<head>
    <title>Class Schedule</title>
    <link rel="stylesheet" href="../assets/stylesheets/table.css">
    <meta charset="UTF-8">

</head>
<body>

<div>
    <table>
        <tr>
            <th>Course Number</th>
            <th>Title</th>
            <th>Term</th>
            <th>Instructor</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Instructor Email</th>
        </tr>

        <tr>

            <td><%=course.courseID%></td>
            <td><%=course.title%></td>
            <td><%=course.term%></td>
            <td><%=course.instructor%></td>
            <td><%=course.startTime%></td>
            <td><%=course.endTime%></td>
            <td><%=course.email%></td>
        </tr>



        <tr>

        </tr>
    </table>
</div>
<a href="/">Go Back</a>
</body>
</html>